# Python stuff
venv/
__pycache__/
*.py

# Django specific
db.sqlite3
media/
static/

# Artifacts
coverage/
htmlcov/
main/templates/main/home.html
*.html
templates/**/*.html
main/templates/main/home.html
