{
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "printWidth": 120,
    "plugins": ["prettier-plugin-django"],
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "parser": "django-html",
                "printWidth": 200,
                "htmlWhitespaceSensitivity": "ignore"
            }
        }
    ]
}
