services:
  web:
    build: .
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - DEBUG=True
      - SECRET_KEY=django-insecure-docker-dev-key-12345
      - ALLOWED_HOSTS=*
    command: python manage.py runserver 0.0.0.0:8000
